<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes APP - NodeJS</title>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <h1>Notes</h1>
    <form id="createNote">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="content" placeholder="Content">
        <button type="submit">Create Note</button>
    </form>
    <ul>
        <% notes.forEach(note=> { %>
            <li>
                <%= note.title %>: <%= note.content %>
            </li>
            <% }) %>
    </ul>
    <script src="/js/main.js"></script>
</body>

</html>